In [142]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [143]:
train_df = pd.read_csv("janta_train.csv")
train_df2 = train_df.dropna()

In [144]:
train_df3 = train_df2.drop(["ID" , "Segmentation"] , axis='columns' )

In [145]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [146]:
train_df3

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4
2,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6
3,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6
5,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6
6,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6
...,...,...,...,...,...,...,...,...,...
8062,Male,Yes,41,Yes,Artist,0.0,High,5.0,Cat_6
8064,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4
8065,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6
8066,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6
8067,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4

In [147]:
X = pd.get_dummies(train_df3)

In [148]:
X

,Age,Work_Experience,Family_Size,Gender_Female,Gender_Male,Ever_Married_No,Ever_Married_Yes,Graduated_No,Graduated_Yes,Profession_Artist,...,Spending_Score_Average,Spending_Score_High,Spending_Score_Low,Var_1_Cat_1,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7
0,22,1.0,4.0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
2,67,1.0,1.0,1,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,1,0
3,67,0.0,2.0,0,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
5,56,0.0,2.0,0,1,0,1,1,0,1,...,1,0,0,0,0,0,0,0,1,0
6,32,1.0,3.0,0,1,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8062,41,0.0,5.0,0,1,0,1,0,1,1,...,0,1,0,0,0,0,0,0,1,0
8064,35,3.0,4.0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
8065,33,1.0,1.0,1,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
8066,27,1.0,4.0,1,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
8067,37,0.0,3.0,0,1,0,1,0,1,0,...,1,0,0,0,0,0,1,0,0,0

In [149]:
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder()
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [150]:
train_df4 = MultiColumnLabelEncoder(columns = ['Segmentation']).fit_transform(train_df2)

In [151]:
train_df4

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,3
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,1
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,1
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,2
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,2
...,...,...,...,...,...,...,...,...,...,...,...
8062,463002,Male,Yes,41,Yes,Artist,0.0,High,5.0,Cat_6,1
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,3
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,3
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,1
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,1

In [152]:
#X = pd.get_dummies(train_df3)
y = train_df4['Segmentation']
#X = X1.drop(['Segmentation'] , axis='columns' )

In [153]:
y

0       3
2       1
3       1
5       2
6       2
       ..
8062    1
8064    3
8065    3
8066    1
8067    1
Name: Segmentation, Length: 6665, dtype: int32

In [107]:
#train_df3['Segmentation']

0       3
2       1
3       1
5       2
6       2
       ..
8062    1
8064    3
8065    3
8066    1
8067    1
Name: Segmentation, Length: 6665, dtype: int32

In [154]:
y

0       3
2       1
3       1
5       2
6       2
       ..
8062    1
8064    3
8065    3
8066    1
8067    1
Name: Segmentation, Length: 6665, dtype: int32

In [155]:

X.shape

(6665, 28)

In [156]:
X

,Age,Work_Experience,Family_Size,Gender_Female,Gender_Male,Ever_Married_No,Ever_Married_Yes,Graduated_No,Graduated_Yes,Profession_Artist,...,Spending_Score_Average,Spending_Score_High,Spending_Score_Low,Var_1_Cat_1,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7
0,22,1.0,4.0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
2,67,1.0,1.0,1,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,1,0
3,67,0.0,2.0,0,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
5,56,0.0,2.0,0,1,0,1,1,0,1,...,1,0,0,0,0,0,0,0,1,0
6,32,1.0,3.0,0,1,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8062,41,0.0,5.0,0,1,0,1,0,1,1,...,0,1,0,0,0,0,0,0,1,0
8064,35,3.0,4.0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
8065,33,1.0,1.0,1,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
8066,27,1.0,4.0,1,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
8067,37,0.0,3.0,0,1,0,1,0,1,0,...,1,0,0,0,0,0,1,0,0,0

In [157]:

y

0       3
2       1
3       1
5       2
6       2
       ..
8062    1
8064    3
8065    3
8066    1
8067    1
Name: Segmentation, Length: 6665, dtype: int32

In [158]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [159]:
 y_test.head()

7707    2
2148    3
4716    3
3536    1
6553    2
Name: Segmentation, dtype: int32

In [160]:
lr_clf = LogisticRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

C:\Users\Mayur\Anaconda3.Y\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.4951237809452363

In [173]:
X = X.drop(5157)
y = y.drop(5157)

In [174]:
X2 = X.values
y2 = y.values

In [175]:
from sklearn.model_selection import train_test_split
X2_train, X2_test, y2_train, y2_test = train_test_split(X2,y2,test_size=0.2,random_state=10)

In [185]:
model = LinearRegression()
from mlxtend.evaluate import bias_variance_decomp
mse, bias, var = bias_variance_decomp(model, X2_train, X2_test, y2_train, y2_test, loss='mse' ,num_rounds=250, random_seed=1)
# summarize results
print('MSE: %.3f' % mse)
print('Bias: %.3f' % bias)
print('Variance: %.3f' % var)

IndexError: index 5157 is out of bounds for axis 0 with size 1333

In [161]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
cv = ShuffleSplit(n_splits=5, test_size=0.3, random_state=0)

In [162]:
cross_val_score(LogisticRegression() , X , y , cv=cv)

C:\Users\Mayur\Anaconda3.Y\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\Mayur\Anaconda3.Y\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\Mayur\Anaconda3.Y\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\Mayur\Anaconda3.Y\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\Mayur\Anaconda3.Y\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

array([0.5385, 0.522 , 0.509 , 0.51  , 0.5095])

In [163]:
cross_val_score(DecisionTreeClassifier() , X , y , cv=cv)

array([0.4415, 0.4255, 0.4315, 0.4235, 0.4335])

In [164]:
cross_val_score(RandomForestClassifier() , X , y , cv=cv)

array([0.4925, 0.4865, 0.4875, 0.4835, 0.4955])